<h1>About</h1>

<section class="articles">
    <h2 class="articles__heading">Building a blog with NodeJS and MongoDB .

    </br></br></br>The focus is to give it a functionality 
        to add new post , edit or update existing post , delete post .
        We are using MongoDB for database .</h2>
    </section>